@charset "UTF-8";

#aFunding {
	float: right;
	margin: 10px 16px 50px 16px;
}

#aFunding h1 { /* 제목 */
	font-size: 35px;
	color: #ccc;
	margin: 15px 10px;
	font-weight: bold;
	text-shadow: 1px 1px 2px gray;
}

#aFunding_maker {
	width: 300px;
	height: 590px;
	border: 1px solid red;
	border-radius: 15px;
	float: left;
	font-size: 90%;
}

#aFunding_genre {
	width: 280px;
	height: 590px;
	border: 1px solid red;
	border-radius: 15px;
	float: left;
}

#aFunding_fund {
	width: 400px;
	height: 590px;
	border: 1px solid red;
	border-radius: 15px;
	float: left;
}