@charset "UTF-8";

#aFunding {
	width: 1080px;
	height: 700px;
	border: 1px solid blue;
	margin: 10px 10px 0px 10px;
	border-radius: 15px;
	float: left;
}

#aFunding_maker {
	width: 300px;
	height: 590px;
	border: 1px solid red;
	border-radius: 15px;
	float: left;
}

#aFunding_genre {
	width: 350px;
	height: 590px;
	border: 1px solid red;
	margin: 0px 0px 0px 0px;
	border-radius: 15px;
	float: left;
}

#aFunding_fund {
	width: 380px;
	height: 590px;
	border: 1px solid red;
	border-radius: 15px;
	float: left;
}
