@charset "UTF-8";

/*공지사항 css*/

#bNotice_wrap{   /*body 안 전체 div*/
	width:1500px;
	border:1px solid;
	height:700px;
}

#bNotice_update{	/*왼쪽 업데이트 ul,li 포함*/
	float:left;
	display:inline-block;	
	width:250px;
	height:100px;
	margin:30px 50px 0px 10px;
}

#bNotice_update h3{/*왼쪽 업데이트 h3 설정*/
	margin-left:10px;
	width:90px; height:30px;
}

ul{
	border:1px solid black;
	list-style:square;
	padding-bottom:30px;
}

li{
	padding-top:30px;
}

#bNotice_table{
	width:900px;
	height:500px;
	text-ailgn:center;
	border-top:1px solid grey;
	border-bottom:1px solid black;
	margin-top:30px;
}

th, td{
	border-top:1px solid grey;
	padding:10px;
}

#link{ /*하이퍼링크 밑줄 없애기*/
	color:black;
	text-decoration:none;
}

#link:hover{ /*게시글 마우스 오버 시*/
	text-decoration:underline;
}

#link:visited{ /*이미 한번 다녀갔던 링크*/
	color:grey;
}

a{
	font-weiht:100;
	color:black;
	text-decoration:none;
}

a:hover{ /*마우스 오버 시*/
	text-decoration:underline;
}

#no, #author, #time, #hit{
	font-family:Arial;
	font-size:17px;
	text-align:center;
}

#no{
	width:100px;
}

#title{
	width:400px;
}

#author{
	width:100px;
}

#time{
	width:200px;
}

#hit{
	width:150px;
}

#bNotice_pagination{ /*하단 페이지 이동 div */
	width:900px;
	height:30px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#bNotice_pagination a{
	padding: 0px 7px;
	color:#999;
	font-size:17px;
}

#bNotice_search{   /*하위 검색창 div*/
	width:500px;
	float:center; 
 margin:30px auto; 
	 height:35px;
}

#bNotice_searchcombo{ /*검색 콤보박스*/
	height: 31px; margin-top:1px;
}

#bNotice_searchtext{ /*검색 텍스트필드*/
	height: 24px; margin-top:px; 
}

#bNotice_searchButton{ /*검색 버튼에 마우스 가져다 댈 시 손가락 모양으로 바뀜*/
	height:30px;
	cursor:pointer;
}



