@charset "UTF-8";

/*자유게시판 css*/

#bFree_wrap{   /*body 안 전체 div*/
	width:1200px;
	height:auto;
	min-height:1024px;
	border:1px solid;
}

#bFree_community{	/*커뮤니티 전체*/
	width:1200px;
	background:#25da2f;
	position:relative;	
	height:250px;
}

.bFree_community_tit{ /*커뮤니티 h1 div*/
	padding-top:47px;
}

.bFree_community_tit h1{/* 커뮤니티 h1 설정*/
	font-size:40px;
 	color:#fff;
 	font-weight:400;
 	margin-bottom:20px;
 	line-height:1;
}

.bFree_community_list{ /*커뮤니티 밑 목록들 div*/
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

.bFree_community_list ul{
	width:100%;
	list-style:none;
}

.bFree_community_list li{
	border-right:1px solid #67c07c;
	border-color:#6bc680;
	border-bottom:1px solid #000;
	float:left;
	width:33.25%;
}

.bFree_community_list a{
	background-color:#76dc90;
	height:80px;
	color:#fff;
	line-height:80px;
	font-size:18px;
	position:relative;
	background:rgba(255,255,255,.2);
	display:block;
	text-align:center;
	text-decoration:none;
}

.bFree_community_list_free a{
	color:#000;
	background:#fff;
}

#bFree_table{
	width:900px;
	height:500px;
	border-top:1px solid grey;
	border-bottom:1px solid black;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	box-sizing:border-box;
}

#bFree_table th, td{
	border-top:1px solid grey;
	padding:10px;
}

#link{ /*하이퍼링크 밑줄 없애기*/
	color:black;
	text-decoration:none;
}

#link:hover{ /*게시글 마우스 오버 시*/
	color:black;
	text-decoration:underline;
}

#link:visited{ /*이미 한번 다녀갔던 링크*/
	color:grey;
}

#author a{ /*글쓴이 하이퍼링크*/
	color:black;
	text-decoration:none;
}

#author a:link{ /*방문 전*/
	color:black;
}

#author a:visited{/*방문 후*/
	color:blakc;
}

#author a:hover{/*마우스 오버 시*/
	text-decoration:underline;
}

#no, #author, #time, #hit{
	font-family:Arial;
	font-size:17px;
	text-align:center;
}

#no{
	width:100px;
}

#title{
	width:400px;
}

#author{
	width:300px;
}

#time{
	width:150px;
}

#hit{
	width:100px;
}

#bFree_writing{ /*글 쓰기 div*/
	width:1200px;
	height:50px;
	float:left;
}

#bFree_writing form{
	width:1200px;
	height:auto;
	float:left;
}

#bFree_writing_btn{ /*글 쓰기 버튼*/
	float:right;
	width:60px;
	height:30px;
	border-radius:4px;
	margin-top:10px;
	margin-right:150px;
	cursor:pointer;
	color:#fff;
	background-color:#5cb85c;
	border-color:#4cae4c;
}

#bFree_writing_btn:hover{/*오버 시*/
	background-color:#008000;
}

#bFree_pagination{ /*하단 페이지 이동 div */
	width:1200px;
	height:50px;
	margin-top:20px;
	text-align:center;
}

#bFree_pagination a{
	padding: 0px 7px;
	color:#999;
	font-size:17px;
	text-decoration:none;
}

#bFree_pagination a:link{/*방문 전*/
	color:#999;
}

#bFree_pagination a:visited{/*방문 후*/
	color:#999;
}

#bFree_pagination a:hover{/*마우스 오버 시*/
	text-decoration:underline;
}

#bFree_search{ /*검색 구간 전체 div */
	width:1200px;
	display:inline-block;
	text-align:center;
}

#bFree_combo{ /*검색 구간 콤보박스*/
	display:inline-block;
	width:auto; height:31px;
	padding:6px 12px;
	font-size:12px;
	color:#a5a5a5;
	border:1px solid #ccc;
	border-radius:4px;
}

#bFree_input{ /*텍필 ,버튼 통합 div*/
	display:inline-table;
}

#search_text{ /*텍필 */
	height:17px;
	padding:6px 12px;
	font-size:12px;
	color:#a5a5a5;
	border:1px solid #ccc;
	border-radius:4px;
	display:table-cell;
	float:left;
}

#search_btn{/*버튼*/
	width:50px;
	height:30px;
	color:#333;
	margin-left:3px;
	border-radius:4px;
	border-color:#ccc;
}

