@charset "UTF-8";

/* 프로젝트 리스트 메인 *************************************** 프로젝트 리스트 메인 ***/
#fWrite_wrap {
	width: 1200px;
	height: auto;
	min-height: 1024px;
	box-sizing: border-box;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* 카테고리명, 설명 *************************************** 카테고리명, 설명 ***/
#fWrite_title {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 85px;
	padding-right: 85px;
	width: 1200px;
	height: 170px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
}

/* 기본 버튼 */
.button {
  background-color: #6a67ce; /* 보라색 제일 진한거 */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* 보라색 그라디언트 진함->연함 */
.button_c#6a67ce {background-color: #6a67ce;} 
.button_c#9d8ce2 {background-color: #9d8ce2;}
.button_c#b3a9eb {background-color: #b3a9eb;}  
.button_c#d4cff3 {background-color: #d4cff3;}
.button_c#eae6fa {background-color: #eae6fa;}
.button_c#f2f0fb {background-color: #f2f0fb; color: black;}

/*폰트 크기별 */
.button_f10 {font-size: 10px;}
.button_f12 {font-size: 12px;}
.button_f16 {font-size: 16px;}
.button_f20 {font-size: 20px;}
.button_f24 {font-size: 24px;}
/* 패딩 별 */
.button_p1024 {padding: 10px 24px;}
.button_p1228 {padding: 12px 28px;}
.button_p1440 {padding: 14px 40px;}
.button_p3216 {padding: 32px 16px;}
.button_p16 {padding: 16px;}
/* radius */
.button_r2 {border-radius: 2px;}
.button_r4 {border-radius: 4px;}
.button_r8 {border-radius: 8px;}
.button_r12 {border-radius: 12px;}
.button_r50 {border-radius: 50%;}
/* 하얀 배경에 테두리선 */
.button_wce8e8e8 {
  background-color: white; 
  color: #656969;
  border: 2px solid #e8e8e8;
}
.button_wce8e8e8:hover {
  background-color: #e8e8e8; 
  color: black; 
}

.button_wc6a67ce {
  background-color: white; 
  color: black; 
  border: 2px solid #6a67ce;
}
.button_wc6a67ce:hover {
  background-color: #6a67ce; 
  color: white; 
}

.button_wc9d8ce2 {
  background-color: white; 
  color: black; 
  border: 2px solid #9d8ce2;
}
.button_wc9d8ce2:hover {
  background-color: #9d8ce2; 
  color: white; 
}

.button_wcb3a9eb {
  background-color: white; 
  color: black; 
  border: 2px solid #b3a9eb;
}
.button_wcb3a9eb:hover {
  background-color: #b3a9eb; 
  color: white; 
}

.button_wcd4cff3 {
  background-color: white;
  color: black;
  border: 2px solid #d4cff3;
}
.button_wcb3a9eb:hover {
  background-color: #d4cff3; 
  color: white; 
}

.button_wceae6fa {
  background-color: white;
  color: black;
  border: 2px solid #eae6fa;
}
.button_wceae6fa:hover {
  background-color: #eae6fa; 
  color: white; 
}

.button_wcf2f0fb {
  background-color: white;
  color: black;
  border: 2px solid #f2f0fb;
}
.button_wcf2f0fb:hover {
  background-color: #f2f0fb; 
  color: white; 
}

/* 버튼 클릭 막기 */
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* 버튼 그룹 만들기 */
.group {
  float: left;
}

/* 버튼 테두리 만들기 */
.border {
  border: 1px solid #f2f0fb;
}
/* 버튼 세로 그룹 */
.vertical {
  display: block;
}
/* 중앙 선 위에 텍스트 얹기 */
.text-strikethru {
    position: relative;
    text-align: center;
}

/* 라인그리는 div */
.text-strikethru .line {
    height: 1px;
    background-color: #F1EEEA;
    width: 100%;
}
/* 텍스트 쓰는 div */
.text-strikethru .text {
    display: inline-block;
    background-color: #FFFFFF;
    padding: 5px 10px;
    font-size: 14px;
    top: -16px;
    position: relative;
    color: #282828;
}


.my-button {
  background-color: #b3a9eb;
  border: 1px solid #d4cff3;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
  float: left;
  box-sizing: border-box;
}