@charset "UTF-8";

/* HEADER */

#header_right {
	text-align:right;
}

#header_logo {
	margin-left: auto;
	margin-right: auto;
}


/*  메인 페이지 */ 
#bannermain_wrap {
	width:1206px; /* div폭 */ 
	min-height:1024px;
	height:auto;
	border:3px solid red;
	text-align: center; /* 글자가운데 정렬 */
	margin-left: auto;
	margin-right: auto; /* div 좌우 중앙 정렬 */
	margin-top:30px; /* div바깥상단 여백 */
}
/*  슬라이드 배너 박스  + 슬라이드버튼 div*/
.main_banner {
	float:left;
	width:1203px; /* 메인배너 너비 */
	height:400px; /* 메인배너 높이 */
	border:3px solid black;
	 text-align: center;
	
}

/*   슬라이드 되는 배너 div */
.slider_banners { /*메인배너 이미지 설정 */
	float:left;
	width:1200px; /* 메인배너 너비 */
	height:400px; /* 메인배너 높이 */
	position : relative; /* 이미지를 겹침 */
	min-height:400px;
	z-index:1;
}
/* 슬라이드 배너 수동버튼 div*/
.slider_button {
	width:1200px;
	margin-top : 165px;
	position:absolute;
	z-index:3;
}
/* 슬라이드배너 이전버튼 */
.prev_btn {
	float:left;
	background-image: url(../images/prev_icon.png);
	width:61px;
	height:71px;
}
/* 슬라이드배너 다음버튼 */
.next_btn {
	float:right;
	background-image: url(../images/next_icon.png);
	width:61px;
	height:71px;
}
/* 오른쪽 퀵메뉴바 div */
.mainRight_quick {
    position: fixed;
    padding-top: 5px;
    border:3px solid green;
    width:100px; /* 퀵메뉴 너비 */
	height:170px; /* 퀵메뉴 높이 */
    top: 150px;
    right: 50px;
    font-size:13px;
    z-index:4;
}
/* 퀵메뉴 1 */
.mainRight_quick .quickmenu1 {
    border: 1px solid ;
    margin-bottom: 15px;
    text-align: center;
    font-size:20px;
	
}
/* 퀵메뉴2 */
.mainRight_quick .quickmenu2 {
	border: 1px solid;
    margin-bottom: 15px;
    text-align: center;
    font-size:20px;
	
}
/* 퀵메뉴 3 */
.quickmenu3 {
  	border: 1px solid;
    margin-bottom: 15px;
    text-align: center;
    font-size:20px;
}
/* 퀵메뉴 탑버튼 */
.top_btn {
	width:98px;
	height:30px;
    text-align: center;
    background-color:red;
   
}

.clear {
	clear:both;
}
/* MOVING은 왜 필요할까요? */
#biMoving_wrap { 
	float:left;
	width:1200px; /* 메인배너 너비 */
	height:400px; /* 메인배너 높이 */
	border:3px solid black;
	border-radius:15px;
	font-size:30px;
	background-color:#8785d8;
	 text-align: center;
} 
.biMoving_logo{
	margin-top : 30px;
	margin-bottom : 30px;
}

.biMoving_text {
	margin-top : 30px;
	margin-bottom : 30px;
	font-size:40px;
	font-weight:bold;
	color:#3be8b0;
}

.biMoving_button {
	margin-top : 60px;
   position: relative;
text-align :center;
   border: 0;
   padding: 0;
   cursor: pointer;
   height: 40px;
   width: 350px; 
   font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
   color: #fff;
   text-transform: uppercase;
   background: #b3a9eb;
   border-radius: 3px;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
   font-size:30px;
}
.biMoving_button:hover {
   background: #9d8ce2;
}

.biMoving_button:active, .support_btn  :focus {
   background: #9d8ce2;
   outline: 0;
}


/* MOVING만의 SNS서비스  */
#biSns_wrap { 
	width:1200px; /* 메인배너 너비 */
	min-height:400px; /* 메인배너 높이 */
	height : auto; 
	border:3px solid black;
	border-radius:15px;
	font-size:30px;
	background-color:#9d8ce2;
}
.biSns_logo{
	width:350px;
	height:300px;
	float:left; 
	margin : 30px 0 30px 30px;
}

.biSns_text {
	margin-top : 40px; 
	margin-bottom : 30px;
	font-size:25px;
	font-weight:bold;
	color:#e3b5e2;
	line-height:1.2;
	text-align : left;
}

.biSns_button {
	float:right;
	margin-right : 150px; 
   position: relative;
text-align :center;
   border: 0;
   padding: 0;
   cursor: pointer;
   height: 40px;
   width: 230px;
   font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
   color: #fff;
   text-transform: uppercase;
   background: #b3a9eb;
   border-radius: 3px;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
.biSns_button:hover {
   background: #8785d8;
}

.biSns_button:active, .support_btn  :focus {
   background: #8785d8;
   outline: 0;
}


/* 내가 만드는 프로젝트  */
#biProject_wrap {
	width:1200px; /* 메인배너 너비 */
	min-height:800px;
	border:3px solid green;
	border-radius:15px;
	font-size:30px;
	background-color :#b3a9eb;
	
}

.biProject_logo {
	width:350px;
	height:350px;
	float : left;
	margin-top : 60px;
	margin-left : 30px;
} 

.biProject_text {
	width:700px;
	float:left;
	margin : 40px 0 0 30px;
	font-size:25px;
	font-weight:bold;
	color:#b76f6f;
	line-height:1.2;
	text-align : left;
	 
}

.biProject_actor_img {
	margin:50px 0 0 200px;
	float:left; 
}

.biProject_scenario_img {
	margin-top : 50px;
	margin-left : 400px;
	float:left;
}


.biProject_button{
	float: left;
	margin-left : 150px; 
	width:1200px;
}


.biProject_actorButton {
	float:left;
	margin : 30px 0px 30px 30px;
   position: relative;
	text-align :center;
   border: 2;
   padding: 0;
   cursor: pointer;
   height: 60px;
   width: 230px;
   font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
   color: #fff;
   text-transform: uppercase;
   background: #b3a9eb;
   border-radius: 3px;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, .3); 
   font-size:30px; 
}
.biProject_actorButton:hover {
   background: #9d8ce2;
}

.biProject_actorButton:active, .support_btn  :focus {
   background: #9d8ce2;
   outline: 0;
}

.biProject_writerButton{
	float:left;
	margin : 30px 30px 30px 310px;
   position: relative;
	text-align :center;
   border: 2;
   padding: 0;
   cursor: pointer;
   height: 60px;
   width: 300px;
   font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
   color: #fff;
   text-transform: uppercase;
   background: #b3a9eb;
   border-radius: 3px;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
   font-size:30px; 
}
.biProject_writerButton:hover {
   background: #9d8ce2;
}

.biProject_writerButton:active, .support_btn  :focus {
   background: #9d8ce2;
   outline: 0;
}


#biSupport_wrap { 
	float:left;
	width:1200px; /* 메인배너 너비 */
	min-height:150px; /* 메인배너 높이 */
	border:3px solid black;
	border-radius:15px;
	font-size:30px;
	background-color:#60afff;
	text-align: center;
} 
.biProject_writerButton {
	height:60px;
}

#biTeaser_wrap{ /* 메인배너 css설정 */
	width:1200px; /* 메인배너 너비 */
	height:400px; /* 메인배너 높이 */
	border:3px solid yellow;
	border-radius:15px;
	font-size:30px;
	background-color :#d4cff3;
}

.biTeaser_logo {
	margin:10px 0px 0px 10px;
}
.biTeaser_text {
	
}

#teaser_play {
	width:500px;
	height:200px;
}
#biTeaser_button {
}

#biBoard_wrap{ /* 메인배너 css설정 */
	width:1200px; /* 메인배너 너비 */
	height:400px; /* 메인배너 높이 */
	border:3px solid orange;
	border-radius:15px;
	font-size:30px;
	background-color:#eae6fa;
}

#biStatistics_wrap{ /* 메인배너 css설정 */
	width:1200px; /* 메인배너 너비 */
	height:400px; /* 메인배너 높이 */
	border:3px solid red;
	border-radius:15px;
	font-size:30px;
	background-color:#f2f0fb;
}
