@charset "UTF-8";
#SNS_Wrap{
	width:1510px; height:1080px;
	margin:0 auto;
	line-height: 1em;
	position: relative;
}
#SNS_Wrap h3{
    transition: transform 0.3s;
    background: white;
    display: inline-block;
}

#SNS_Wrap h3:hover {
    transform: scale(1.2);
    text-decoration:none;
}
#SNS_main_left{
	position:relative;
	float:left;	
	text-align:center;
	text-decoration:none;
}
#SNS_main_mid{
	float:left;
}
#SNS_main_right{
	
}
/* 왼쪽 */
#left_profile{
	width:200px; height: 150px; border:2px solid green;
	margin:0px 0px 0px 10px;
	padding:2px 10px;
    background: white;
}
#left_menu{
	width : 200px; height : 600px;   border:2px solid green;
	margin:10px 0px 0px 10px;
	padding:2px 10px;
	float:left;
	background: white;
}
/* 중간 */
#mid_pad {
	width : 750px; height: 300px; border:2px solid red;
	margin:0px 0px 10px 10px;
	padding:10px 10px;
	background: white;
}
#mid_scrap {
	width : 750px; height: 600px; border:2px solid red;
	margin:0px 0px 10px 10px;
	padding:10px 10px;
	float:left;
	background: white;
}
#mid_left{
	width:590px;	height: 290px;
	float:left;
	border:2px solid red;
	margin-right: 10px;
	margin-bottom: 10px;
	background: white;
}

#mid_right{
	width:130px; height:290px;
	float:left;
	border:2px solid red;
	margin-right: 10px;
	margin-bottom: 10px;
	background: white;
}

/* 오른쪽 */
#right_profile{
	width:450px; height:150px; border:2px solid blue;
	margin:0px 0px 0px 10px;
	padding:2px 10px;
	float:left;
	background: white;
}
#right_etc{
	width:450px; height:300px; border:2px solid blue;
	margin:10px 0px 0px 10px;
	padding:2px 10px;
	float:left;
	background: white;
}
#right_etc2{
	width:450px; height:300px; border:2px solid blue;
	margin:10px 0px 0px 10px;
	padding:2px 10px;
	float:left;
	background: white;
}