@charset "UTF-8";
/**목록별 개별 적용*/
#thriller_movie_box { /**바디 전체 부분*/ /**범죄/스릴러 목록 적용*/
	
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
/**	border: 1px solid blue; */
	
}
#action_movie_box { /**바디 전체 부분*/ /**액션/어드벤처 목록 적용*/
	
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
/**	border: 1px solid blue; */
	
}

#docu_movie_box { /**바디 전체 부분*/ /**다큐/드라마/청춘 목록 적용*/
	
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
/**	border: 1px solid blue; */
	
}
#history_movie_box { /**바디 전체 부분*/ /**역사/시대극 목록 적용*/
	
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
/**	border: 1px solid blue; */
	
}
#sf_movie_box { /**바디 전체 부분*/ /**판타지/공상과학 목록 적용*/
	
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
/**	border: 1px solid blue; */
	
}
#love_movie_box { /**바디 전체 부분*/ /**19금/연애 목록 적용*/
	
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
/**	border: 1px solid blue; */
	
}
#comedy_movie_box { /**바디 전체 부분*/ /**코미디 목록 적용*/
	
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
/**	border: 1px solid blue; */
	
}
#animation_movie_box { /**바디 전체 부분*/ /**애니메이션 목록 적용*/
	
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
/**	border: 1px solid blue; */
	
}
#other_movie_box { /**바디 전체 부분*/ /**기타 목록 적용*/
	
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
/**	border: 1px solid blue; */
	
}


/**목록별 페이지 모두 적용*/
#box_item { /**1번 영상, 2번 영상, 3번 영상, ...*/
	
	width: 350px;
	height: 450px;
	border: 2px outset; /**테두리 설정*/
	float: left;
	margin: 30px 15px 0px 15px;
	
}
#box_item img { /**각 번호 영상 그림 부분*/
	
	width: 350px;
	height: 250px;
/**	border: 1px solid blue; */
	
	
}
#box_item p { /**각 번호 영상 설명 부분*/
	
	width: 350px;
	height: 200px;
/**	border: 1px solid blue; */
	font-size: 12px;
	color: gray;
	margin: 15px 0px 0px 10px;
	
}


/**기타 부수거리 작업*/
#box_item a:hover {
	
	text-decoration: underline;
	
}
#box_item a:link { /**하이퍼링크된 곳의 밑줄선을 없앰*/
	
	text-decoration: none;
	
}
#box_item a:active { /**하이퍼링크된 곳을 클릭할 때 나타나는 밑줄 선을 없앰*/
	
	text-decoration: none;
	
}
#box_item a:visited { /**한번이라도 클릭한 곳의 밑줄선을 없앰*/
	
	text-decoration: none;
	
}