@charset "UTF-8";

#SNS_Profile_All{
	background-color: #f2f0fb;
	align-items: center;
}
#SNS_Profile_Wrap{ /* 전체 스타일 설정 */
	width: 1200px;
	height: 3080px;
	box-sizing: border-box;
	line-height: 1em;
	margin: auto auto;
	background-color: rgba(255, 255, 255, 0);
	align-items: center;
	
}
#SNS_Profile_Left{
	width: 300px;
	margin-top: 10px;
	float: left;
	border: 1px solid;
}
#SNS_Profile_Right{
	width: 800px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	border: 1px solid;
}
#SNS_Profile_Photo{ /* 프로필 사진*/
	text-align:center;
	width:200px; height:200px;
	border:1px solid green;
	border-radius:30px;
	top: 150px;
	left: 15px;
}
#SNS_Profile_Info{ /* 프로필 정보 */
	text-align: center;
	width:500px; height:100px;
	transition: 1.0s;
	background: #4679f0;
}
#SNS_Profile_Info:hover{/* 애니메이션 효과 */
	width: 1000px;
	height:400px;
	background: black;
}
#SNS_Profile_Set{
	width:900px; height:600px;
	border:2px solid green;
}
